In [18]:
import re

In [19]:
chat1 = "Hello this is my contact details; Pone Num : 0714262972, and E mail : sulithanb119@gmail.com"
chat2 = "Whay are you asking somuch Questions ? nulakshastudy19@gmail.com, 071-4857952"
chat3 = "0714262895 and hello123@gmail.com"

In [20]:
patternTP = '\d{3}-\d{7}|\d{10}' 
patternEmail = '[a-zA-Z_1-9]*@[a-zA-Z1-9]*\.com|[a-zA-Z_1-9]*@[a-zA-Z1-9]*\.lk'

chats = [chat1, chat2, chat3]

In [21]:
i = 1;
for x in chats:
    print(f"Pone number of chat {i} : {re.findall(patternTP, x)[0]}")
    print(f"Email number of chat {i} : {re.findall(patternEmail, x)[0]}\n")
    i+=1

Pone number of chat 1 : 0714262972
Email number of chat 1 : sulithanb119@gmail.com

Pone number of chat 2 : 071-4857952
Email number of chat 2 : nulakshastudy19@gmail.com

Pone number of chat 3 : 0714262895
Email number of chat 3 : hello123@gmail.com

In [22]:
#second Question
# What is your oder number which is having trouble or simmiler like?

chat1 = "My oder is 2340928"
chat2 = "my oder number is 18762753"
chat3 = "the oder number which i am struggeling is 268739829"
chat4 = "my oder code was 2837927"

In [23]:
oderPattern1 = 'oder[^\d]*(\d*)'

chats = [chat1, chat2, chat3, chat4]

In [24]:
i = 1
for y in chats:
    print(f"Oder nuber of chat {i} : {re.findall(oderPattern1, y)[0]}\n")
    i+=1

Oder nuber of chat 1 : 2340928

Oder nuber of chat 2 : 18762753

Oder nuber of chat 3 : 268739829

Oder nuber of chat 4 : 2837927

In [28]:
text1 = '''
Co-Chair of the Department of Government Efficiency
Designate
Assumed office
TBD
Serving with Vivek Ramaswamy
President	Donald Trump (elect)
Preceded by	Position established
Personal details
Born	Elon Reeve Musk
June 28, 1971 (age 53)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa
Canada
United States (from 2002)
Political party	Independent
Spouses	
Justine Wilson
​
​(m. 2000; div. 2008)​
Talulah Riley
​
​(m. 2010; div. 2012)​
​
​(m. 2013; div. 2016)​
Children	12[1]
Parents	
Errol Musk
Maye Musk
Relatives	
Kimbal Musk (brother)
Tosca Musk (sister)
Lyndon Rive (cousin)
Education	University of Pennsylvania (BA, BS)
Occupation	Businessman
Profession	
Founder, CEO, and chief engineer of SpaceX
CEO and product architect of Tesla, Inc.
Owner, CTO and executive chairman of X (formerly Twitter)
President of the Musk Foundation
Founder of The Boring Company, X Corp., and xAI
Co-founder of Neuralink, OpenAI, Zip2, and X.com (part of PayPal)
Awards	Full list
'''

text2 = '''
Official portrait, 2017
President-elect of the United States
Assuming office
January 20, 2025
Vice President	JD Vance (elect)
Succeeding	Joe Biden
45th President of the United States
In office
January 20, 2017 – January 20, 2021
Vice President	Mike Pence
Preceded by	Barack Obama
Succeeded by	Joe Biden
Personal details
Born	Donald John Trump
June 14, 1946 (age 78)
Queens, New York City, U.S.
Political party	Republican (1987–1999; 2009–2011; 2012–present)
Other political
affiliations	
Reform (1999–2001)
Democratic (2001–2009)
Independent (2011–2012)
Spouses	
Ivana Zelníčková
​
​(m. 1977; div. 1990)​
Marla Maples
​
​(m. 1993; div. 1999)​
Melania Knauss ​(m. 2005)​
Children	
Donald Jr.IvankaEricTiffanyBarron
Parents	
Mary Anne MacLeodFred Trump
Relatives	Trump family
Education	University of Pennsylvania (BS)
Occupation	
Politicianbusinessmanmedia personality
Awards	Full list
'''

text3 = '''
Born	Mark Elliot Zuckerberg
May 14, 1984 (age 40)
White Plains, New York, U.S.
Other names	Zuck
Education	Harvard University (dropped out)
Occupations	
Businessmancomputer programmerphilanthropist
Years active	2004–present
Title	
Co-founder, chairman and CEO of Meta Platforms and Facebook
Co-founder and co-CEO of Chan Zuckerberg Initiative
Spouse	Priscilla Chan ​(m. 2012)​
Children	3
Relatives	
Randi Zuckerberg (sister)
Donna Zuckerberg (sister)
'''

In [29]:
agePattern = 'age (\d+)'
namePattern = 'Born(.*)'
birthdayPattern = 'Born.*\n(.*)\('
bornplacePattern = '\(age.*\n(.*)'

In [30]:
texts = [text1, text2, text3]

In [31]:
i =1;
for t in texts:
    print(f"Text {i}")
    print(f"Name : {re.findall(namePattern, t)[0]}")
    print(f"Age : {re.findall(agePattern, t)[0]}")
    print(f"Birthday : {re.findall(birthdayPattern, t)[0]}")
    print(f"Birth Place : {re.findall(bornplacePattern, t)[0]}\n\n")
    
    i+=1

Text 1
Name : 	Elon Reeve Musk
Age : 53
Birthday : June 28, 1971
Birth Place : Pretoria, Transvaal, South Africa


Text 2
Name : 	Donald John Trump
Age : 78
Birthday : June 14, 1946
Birth Place : Queens, New York City, U.S.


Text 3
Name : 	Mark Elliot Zuckerberg
Age : 40
Birthday : May 14, 1984
Birth Place : White Plains, New York, U.S.